# ignore all following folders
Covington_data/
June21/
organized_data/
prediction_results/
to_look_at/
Total_data/
Total_data_generation_script/
training_results/
visualize_inter_resutls.ipynb
*.h5
*.npy
*.tif
vary_small_samples/.ipynb_checkpoints/visualize_inter_resutls-checkpoint.ipynb
